## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

# Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [6]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

2
3

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
# write your code here

for i in range(1,50):
  if i%2==0:
    print(i)

# for i in range(2,51,2):
#   print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [18]:
n=int(input())
i=1
for i in range(1,n+1):
  if i%3==0:
    print(i)

30
3
6
9
12
15
18
21
24
27
30

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [25]:
n=int(input())
for i in range(1,11):
    print(f" {n}*{i} ",n*i)

5
 5*1  5
 5*2  10
 5*3  15
 5*4  20
 5*5  25
 5*6  30
 5*7  35
 5*8  40
 5*9  45
 5*10  50

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [ ]:
# write your code here
n=int(input())

fact=1

for i in range(1,n+1):
  fact=fact*i

print(fact)

3
6

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:
# write your code here

n=int(input())

sum=0
for i in range(1, n+1):
  sum=sum+i

print(sum)

87
3828

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [50]:
n=int(input())
i=0
for i in range(1,n+1):
  n=n+5
  print(i)

5
1
2
3
4
5

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [51]:
N = int(input("Enter a number: "))
even_count = 0
odd_count = 0
for i in range(1, N + 1):
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Even numbers count:", even_count)
print("Odd numbers count:", odd_count)

Enter a number: 5
Even numbers count: 2
Odd numbers count: 3

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [53]:
N = int(input("Enter a number: "))
for i in range(1, N + 1):
    print(i * i)

Enter a number: 5
1
4
9
16
25

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [54]:
N = int(input("Enter a number: "))
even_sum = 0
odd_sum = 0
for i in range(1, N + 1):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Enter a number: 5
Sum of even numbers: 6
Sum of odd numbers: 9

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [56]:
N = int(input("Enter a number: "))
count = 0
for i in range(1, N + 1):
    if i % 3 == 0 and i % 5 == 0:
        count += 1
print("Numbers divisible by both 3 and 5:", count)

Enter a number: 25
Numbers divisible by both 3 and 5: 1

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [57]:
N = int(input("Enter a number: "))

for i in range(1, N + 1):
    if i % 4 == 0:
        continue
    print(i)

Enter a number: 25
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [58]:
N = int(input("Enter a number: "))
largest = 1
for i in range(1, N + 1):
    if i > largest:
        largest = i
print("The largest number between 1 and", N, "is:", largest)

Enter a number: 25
The largest number between 1 and 25 is: 25

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [60]:
a = int(input("Enter the base number (a): "))
b = int(input("Enter the exponent (b): "))

result = 1
for i in range(b):
    result *= a
print(f"{a} raised to the power {b} is:", result)

Enter the base number (a): 2
Enter the exponent (b): 2
2 raised to the power 2 is: 4

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [70]:
num = int(input("Enter a number: "))
is_prime = True
if num <= 1:
    is_prime = False
else:
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

if is_prime:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 4
4 is not a prime number

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [78]:
N = int(input("Enter a number: "))

print("Prime numbers between 1 and", N, "are:")

for num in range(2, N + 1):
    is_prime = True

    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break


    if is_prime:
        print(num, end=" ")

Enter a number: 10
Prime numbers between 1 and 10 are:
2 3 5 7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [80]:
N = int(input("Enter a number: "))

for i in range(1, N + 1):

    if i % 7 == 0 and i % 11 == 0:
        print("The first number divisible by both 7 and 11 is:", i)
        break
else:
    print("No number between 1 and", N, "is divisible by both 7 and 11.")

Enter a number: 21
No number between 1 and 21 is divisible by both 7 and 11.

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [81]:
# write your code here

var=int(input())

for i in range(1,var+1):
  for j in range(1,i+1):
    print(j, end="")
  print()

5
1
12
123
1234
12345

In [ ]:
count=0
for i in range(2):
  n=10
  while n>4:
    count=count+1
    print("Class over", count)
    n=n-1

Class over 1
Class over 2
Class over 3
Class over 4
Class over 5
Class over 6
Class over 7
Class over 8
Class over 9
Class over 10
Class over 11
Class over 12

In [ ]:
n=12
while n>10:
  for i in range(3):
    print("jai hind and i is : ",i )
  n=n-1

jai hind and i is :  0
jai hind and i is :  1
jai hind and i is :  2
jai hind and i is :  0
jai hind and i is :  1
jai hind and i is :  2