# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [ ]:
# write your answer

age =35

print(age)

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [2]:
book=250.25
print(type(book),book)

<class 'float'> 250.25

### Question 3
Create a variable to store your **first name** and print it.

In [3]:
name="rohit maurya"
print(name)

rohit maurya

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [4]:
aaj_ki_class_complete=True
print(aaj_ki_class_complete)

True

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [5]:
classes_attended = 25
average_rating = 4.5
print("Classes Attended:", classes_attended)
print("Average Rating:", average_rating)

Classes Attended: 25
Average Rating: 4.5

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [6]:
name="rohit maurya"
age=21
print(f" my name if {name} and i am {age} years old")

 my name if rohit maurya and i am 21 years old


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [7]:
product="pen"
price=10.5
print(f" the price of {product} is {price} rupees.")

 the price of pen is 10.5 rupees.

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [8]:
cl_name="DA10 CLASS"
complete="true"
print(f"batch {cl_name} completed status is {complete}")

batch DA10 CLASS completed status is true