#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [1]:
data=[10,20,30,40,40]
data1=set(data)
print(data1)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [5]:
s={1,2,3,3,2}
print(s)  #Set me duplicate values allowed nahi hoti.

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [14]:
set1=set()
for i in range(1,6):
  set1.add(i)
print(set1)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [15]:
s={}    #{} Python me empty dictionary hoti hai, empty set nahi.
s.add(10)  #'dict' object has no attribute 'add'

AttributeError: 'dict' object has no attribute 'add'

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [16]:
A = {2, 4, 6, 8}
B = {4, 8, 12}
x=set(A)
y=set(B)
print(x.union(y))
print(x.intersection(y))
print(x.union(y))

{2, 4, 6, 8, 12}
{8, 4}
{2, 4, 6, 8, 12}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [ ]:
# write your code here

if 15 in {5, 10, 15, 20}:
  print("mil gya")
else:
  print("nhi mil gya")

True

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [17]:
set1={10,20,30,40}
set1.remove(30)
print(set1)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [18]:
nums = [1, 2, 2, 3, 4, 4, 5]
print(len(nums))

7

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [23]:
s = {10, 20, 30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [24]:
s = {1, 2, [3, 4]}  #unhashable type: 'list'
print(s)

TypeError: unhashable type: 'list'

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

set1={100, 200, 300}

print(set1)

l1=list(set1)


l1[0]

{200, 100, 300}

200

### Q12
Students in two classes:   #union
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [25]:
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print(class_A.union(class_B))

{'Riya', 'Aman', 'Karan', 'Simran', 'Neha'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [26]:
text = 'programming'
print(set(text))

{'r', 'p', 'a', 'o', 'm', 'n', 'g', 'i'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [ ]:
# write your code here

# first use split

# and then use set to remove duplicate

In [27]:
sentence = 'python is easy and python is powerful'
print(set(sentence.split()))

{'python', 'is', 'and', 'easy', 'powerful'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [28]:
s = set('hello')    #Set me duplicate values allowed nahi hoti.
print(s)

{'l', 'o', 'e', 'h'}