# Python Lists Practice Notebook

Write your answers in the code cells below each question.

### Q1. Create an empty list named data and a list numbers with values 5,10,15,20.

In [6]:
a=[]
print(a)
print(type(a))
b=[5,10,20,15]
print(b)

[]
<class 'list'>
[5, 10, 20, 15]

### Q2. Create a list with int, float, string, boolean.

In [7]:
a=["rohit",2.5,50,True]
print(a)

['rohit', 2.5, 50, True]

### Q3. From nums=[10,20,30,40,50], print first and third element.

In [10]:
from_name=[10,20,30,50]
print(from_name[0])
print(from_name[-1])

10
50

### Q4. Change 30 to 300 using indexing.

In [11]:
from_name=[10,20,30,50]

from_name[2]=300
print(from_name)

[10, 20, 300, 50]

### Q5. Using negative indexing print last and second last element.

In [13]:
from_name=[10,20,30,50]
print(from_name[-1])

50

### Q6. Update last element to 999 using negative index.

In [14]:
from_name=[10,20,30,50]
from_name[-1]=999
print(from_name)

[10, 20, 30, 999]

### Q7. Slice elements from index 2 to 6.

In [15]:
from_name=[10,20,30,50]
print(from_name[2:6])

[30, 50]

### Q8. Print even index elements and reverse list.

In [18]:
from_name=[10,20,30,50]
print(from_name[0:4:2])

[10, 30]

### Q9. Append 10,20,30 one by one to empty list.

In [20]:
a=[]
a.append(10)
a.append("rohit")
a.append(20.5)
a.append(True)
print(a)

[10, 'rohit', 20.5, True]

### Q10. Append a user entered number to a list.

In [24]:
a=int(input())
b=[]
b.append(a)
a=str(input())
b.append(a)
a=float(input())
b.append(a)
a=bool(input())
b.append(a)
print(b)

5
rohit
2.5
True
[5, 'rohit', 2.5, True]

### Q11. Extend [1,2,3] with [4,5,6].

In [30]:
a=[1,2,3]
a.extend([4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

### Q12. Extend a list using another list.

In [34]:
a=[10,20,30,50]
b=[10,20,30,50]
a.extend(b)
print(a)

[10, 20, 30, 50, 10, 20, 30, 50]

### Q13. Insert 100 at index 2 in [10,20,30,40].

In [35]:
a=[10,20,30,40]
a.insert(2,100)
print(a)

[10, 20, 100, 30, 40]

### Q14. Insert 'Python' at beginning of list.

In [36]:
a=[10,20,30,50]
a.insert(0,"python")
print(a)

['python', 10, 20, 30, 50]

### Q15. Remove value 20 from [10,20,30,20].

In [37]:
a=[10,20,30,50]
a.remove(20)
print(a)

[10, 30, 50]

### Q16. Try removing a value that does not exist.

In [52]:
from_name=[10,20,30,50]
from_name.remove(5)
print(from_name)

ValueError: list.remove(x): x not in list

### Q17. Pop last element from [1,2,3,4].

In [46]:
a=[1,2,3,4]
x=a.pop()
print(x)
print(a)

4
[1, 2, 3]

### Q18. Pop element at index 1 and store it.

In [47]:
a=[1,2,3,4]
a.pop(1)
print(a)

[1, 3, 4]

### Q19. Clear a list and print it.

In [49]:
from_name=[10,20,30,50]
from_name.clear()
print(from_name)
print(type(from_name))

[]
<class 'list'>

### Q20. Check length before and after clear().

In [53]:
a=[10,20,30,50]
x=len(a)
print(x)
a.clear()
print(a)
print(len(a))

4
[]
0

### Q21. Find length of [10,20,30,40,50].

In [54]:
a=[1,2,3,4,5,6]
print(len(a))

6

### Q22. Check if list is empty using len().

In [56]:
a=[2]
if len(a)==0:
  print("list is empty")
else:
  print("list is not empty")

list is not empty

### Q23. Concatenate two lists.

In [61]:
a=[1,2,3]
b=[4,5,6]
print(a+b)
a.extend([4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

### Q24. Repeat [1,2] three times and check membership of 2.

In [63]:
lst=[1,2]*2
print(lst)
print(5 in lst)

[1, 2, 1, 2]
False

### Q25. Squares from 1 to 10 using list comprehension.

In [70]:
i=int(input())

a=[i**2 for i in range(1,11)]

print(a)

5
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Q26. Numbers from 0 to 20 using list comprehension.

In [71]:
a=[i for i in range(21)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Q27. Cubes of 1–5 using loop.

In [73]:
for i in range(1,6):
  print(i**3)

1
8
27
64
125

### Q28. Cubes of 1–5 using list comprehension.

In [ ]:
a=[i**3 for i in range(1,6)]
print(a)

### Q29. Even numbers between 1 and 50.

In [75]:
for i in range(1,61):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60

### Q30. Filter marks greater than 60.

In [79]:
a=[55,22,46,74,65,82,65,23,89,22,14,10]
par=[m for m in a if m>60]
print(par)

[74, 65, 82, 65, 89]

### Q31. Label numbers Even/Odd.

In [80]:
num=[1,2,3,4,5,6,7,8,9]
lab=["even" if n%2==0 else "odd" for n in num]
print(lab)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [83]:
num=[1,2,3,4,5,6,7,8,9]
lab=[]
for i in num:
  if i%2==0:
    print("even")
  else:
    print("odd")

odd
even
odd
even
odd
even
odd
even
odd

### Q32. Label salaries High/Low.

In [84]:
salary=[2500,2560,55000,70000,90000,5000,4000]
up=["high" if n>40000 else "low" for n in salary]
print(up)

['low', 'low', 'high', 'high', 'high', 'low', 'low']

In [ ]:
salary=[2500,2560,55000,70000,90000,5000,4000]
up=[]
if n>40000:
  print("high")
else:

### Q33. Flatten [[1,2,3],[4,5,6],[7,8,9]].

In [4]:
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a[-1])

[7, 8, 9]

In [5]:
a=[[1,2,3],[4,5,6],[7,8,9]]
flat=[x for item in a for x in (item if isinstance(item,list) else [item])]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
a=[[1,2,3],[4,5,6],[7,8,9]]
flat=[]
for i in a:
  flat.append(i)
print(flat)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
a=[[1,2,3],[4,5,6],[7,8,9]]
flat=[]
for i in a:
  if isinstance(i,list):
    flat.extend(i)
  else:
    flat.append(i)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Q34. Create (x,y) pairs from 1 to 3.

In [9]:
pairs=[(x,y) for x in range(1,4) for y in range(1,4)]
print(pairs)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

### Q35. Split 'Python is very powerful'.

In [10]:
s="python is very powerful"
b=s.split()
print(b)

['python', 'is', 'very', 'powerful']

### Q36. Split '10,20,30,40' into numbers.

In [15]:
a="10,20,30,40"
b=a.split(" ")
print(b)

['10,20,30,40']

### Q37. Join ['Data','Analyst','Python'] with space.

In [19]:
a=['data','analyst','python']
b=" _".join(a)
print(b)

data _analyst _python

In [ ]:
# Write your answer here

### Q38. Join characters using '_' separator.

In [20]:
a=['data','analyst','python']
b=" _".join(a)
print(b)

data _analyst _python

### Q39. Filter eligible voters (age>=18).

In [24]:
a=[20,25,11,21,41,12,13,12,14]
b=[i for i in a if i>=18]
print(b)

[20, 25, 21, 41]

In [25]:
ages=[20,25,11,21,41,12,13,12,14]
eligible=list(filter(lambda age: age>=18, ages))
print(eligible)

[20, 25, 21, 41]

### Q40. Extract positive numbers.

In [26]:
num=[1,2,-1,-5,5,-8]
pos=[i for i in num if i>0]
print(pos)

[1, 2, 5]

In [30]:
num=[1,2,3,-5,-4]
pos=[]
for i in num:
  if i>0:
    pos.append(i)
    print(pos)

[1]
[1, 2]
[1, 2, 3]

### Q41. Convert names to uppercase.

In [31]:
name=["rohit","mphit","rahul"]
up=[i.upper() if i in name else i for i in name]
print(up)

['ROHIT', 'MPHIT', 'RAHUL']

In [34]:
name=["rohit","mphit","rahul"]
b=[]
for i in name:
  b.append(i.upper())
print(b)

['ROHIT', 'MPHIT', 'RAHUL']

### Q42. Add 18% GST to prices.

In [36]:
price=[100,200,300]
gst_p=[]
for i in price:
  gst_p.append(i+(i*18/100))
print(gst_p)

[118.0, 236.0, 354.0]

### Q43. Convert list to tuple and set.

In [57]:
lst=[1,2,3,4,5,5,5,8,8,6,7,8,9]
t = tuple(lst)
print(t)
s = set(lst)
print(s)

(1, 2, 3, 4, 5, 5, 5, 8, 8, 6, 7, 8, 9)
{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Q44. Remove duplicates by converting list to set.

In [56]:
lst=[1,2,3,4,5,5,5,8,8,6,7,8,9]
set_s=set(lst)
u_list=list(set_s)
print(u_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]