**Question - 1:**
Take a string input from the user and:

Print its length

Print its first character

Print its last character

***Hint:***
Use len() and indexing.

In [4]:
name=str(input())
print(len(name))
print(name[0])
print(name[-1])

rohit
5
r
t

**Question - 2:**
Given a string, print:

The string in lowercase

The string in uppercase

The string in title case

***Hint:***
Use string methods.

In [9]:
name="rohit"
print(name.lower())
print(name.upper())
print(name.title())

rohit
ROHIT
Rohit

**Question - 3:**
Given a string with extra spaces at the beginning and end, remove the spaces and print the cleaned string.

Example:

text = "       data analyst   "


Expected Output: "data analyst"

***Hint:***
Use strip().

In [12]:
name="         rohit"
print(name.strip())

rohit

**Question - 4:**
Given a string, count how many times the letter 'a' appears in it.

Example:

text = "data analysis"


Expected Output: 4

***Hint:***
Use loop or count().

4

**Question - 5:**
Given an email ID, extract and print the domain name.

Example:

email = "student@gmail.com"


Expected Output:

gmail.com


***Hint:***
Use split().

In [15]:
email="xyz@gmail.com"
print(email.split("@")[0])

xyz