# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [5]:
tup=(1,2.5,"rohit",True)
for i in tup:
  print(i)

1
2.5
rohit
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [6]:
std=("rohit","mohit","mohan","sohan")
print(len(std))

4

### Question 4
Access and print the last element of a tuple.

In [7]:
std=("rohit","mohit","mohan","sohan")
print(std[-1])

sohan

### Question 5
Check whether an element exists in a tuple or not.

In [8]:
std=("rohit","mohit","mohan","sohan")
if "rohit" in std:
  print("yes")
else:
  print("no")

yes

### Question 6
Convert a tuple into a list.

In [9]:
tup=(1,1,2,3,4,5)
print(list(tup))

[1, 1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [10]:
list1=[1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [12]:
tup=(1,2,1,3,4,5,1,4,1)
tup.count(1)

4

### Question 9
Find the index of an element in a tuple.

In [13]:
std=("rohit","mohit","mohan","sohan")
std.index("rohit")

0

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [14]:
a=(1,2,3,4,5,6)
a[1]=5 # this line is a tuple not a change value
print(a)

TypeError: 'tuple' object does not support item assignment